*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#bottomHeader{
    margin: 0px;
}
.back, nav , footer{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),  url(../image/banner.png)  ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.sticky{
    position: fixed;
    width: 100%;
    z-index: 100;
}
.staffHeaderImage{
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
.staffHeaderImage .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .3;
    background: #f1453d;
    
}
.display-4{
    color: #fff;
    padding-top: 60px;
    font-weight: 400;
}
.nav-img{
    padding: 0 2rem 0 2rem;
}
.image{
   height: 100px; 
}

.nav-link{
    margin-right: 30px;
}
.dropdown-menu{
    background-color: #004d80;
    
}
.dropdown-item{
    color: white;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.icon{
    width: 400px;
    height: auto;
}
.fa-map-marker{
    font-size: 500px;
}
.stories{
    font-size: 40px;
    text-align: center;
}
.slider .card { background-color: rgba(245, 245, 245, 0.4); background: transparent; }
.content, .sub-title { opacity: 4}
.slider{
    max-width: 1100px;
    display: flex;
  }
  .slider .card{
    flex: 1;
    margin: 0 10px;
    background: #fff;
    display: flex;
  }
  .slider .card .img{
    height: 200px;
    width: 100%;
  }
  .slider .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .slider .card .content{
    padding: 10px 20px;
  }
  .card .content .title{
    font-size: 25px;
    font-weight: 600;
  }
  .card .content .sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #e74c3c;
    line-height: 20px;
  }
  .card .content p{
    text-align: justify;
    margin: 10px 0;
  }
  .card .content .btn{
    display: block;
    text-align: left;
    margin: 10px 0;
  }
  .card .content .btn button{
    background: #e74c3c;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
  }
  .card .content .btn button:hover{
    transform: scale(0.9);
  }
footer{
    /* margin-top: 4rem; */
    height: 100%;
    background-color: #183661;
    /* padding: 2rem 0 0 0; */
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff; 
}
footer li a{
    font-size: 15px;
    color:#51be78;
}
footer a:hover{
    color: #fff;
}
footer .footer-heading {
    font-size: 26px;
    color: #fff;
    margin-bottom: 30px; 
}
.footer-icons{
    /* border: 1px dashed white;
    border-radius: 50%; */
    padding: 10px;
    color: #fff; 
}
.footer-icons:hover{
     color: #51be78;
}
footer .footer-heading span {
      border-bottom: 3px solid #fff;
    }
footer a:hover {
    color: #fff;
    text-decoration: underline;
 }
footer .copyright {
    color: #fff;
    /* padding-top: 4rem; */
    font-size: 16px;
    text-align: center; 
}